/* Eric Camarillo
  5/5/20
  FILENAME: sryles.css*/
  

  body
  {
	background-color: #0091FF;
  text-align: center;
	}


  h1, h2
  {
    color: #00FFEE;
    padding: 40px;
  }


	p
  {
  font-size:  150%;
  width: 100%;
  padding: 10px;
  }
  
  img
  {
    float: left;
  }

  .img-right
  {
    float: right;
  }

  /*intro section customization*/
  .information
  {
    display: inline-flexbox;
    margin: 45px;
    /*padding:  45px;*/
    color: #00FFEE;
    background-color: #0091FF;
    border: 5px black dotted;
    
  }

  /*projects section customization*/
  .projects
  {
    padding:  45px;
    color: #0091FF;
  }

  /*about page customization*/
  .about-information
  {
    display: inline-table;
    margin: 45px;
    color: #00FFEE;
    background-color: #0091FF;
    border: 5px black dotted;
    
  }


/*nav bar customization*/
  a
  {
    outline: none;
    text-decoration: none;
    font-size: 145%;
    padding: 15px;
    
  }

  a:hover
  {
    background: lightblue;
  }


/*fitting contents on the page*/
#flex-container 
{
	display: flex;
  flex: auto;
  
}	

/*icon styling*/
i.fas, i.fab
{
  color: blue;
}


/*card styling*/
.card-footer
{
  font-size: 145%;
}

/*footer styling*/
#small-footer
{
  border: lightslategray 5px double;
}

